dialog {
  padding: 0;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  position: relative;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
  }
}
.modal-container {
  padding: 2rem 4rem;
}

.close-dialog {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  font-size: 1rem;
  line-height: 0;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 100vw;
  aspect-ratio: 1;
  padding: 0.5rem;
}